<% const action = locals.status?.id ? "Edit" : "Add" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= action %> Status - Yomu</title>
</head>
<body>
  <h1><%= action %> Status</h1>

  <%- include("../partials/errors.ejs") %>

  <form action="/status/<%= action === 'Edit' ? `${status.id}/edit` : 'new' %>" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= locals.status?.name %>">
    </div>

    <button type="submit"><%= action %> Status</button>
    <a href="/status">Cancel</a>
  </form>
</body>
</html>