<% 
  const title = `${locals.data?.id ? "Edit" : "Add"} ${ROUTE_NAME}`;
  const routePrefix = (ROUTE_NAME.endsWith('s') ? ROUTE_NAME : ROUTE_NAME.concat('s')).toLowerCase();
%> 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Yomu</title>
</head>
<body>
  <h1><%= title %></h1>

  <% if (locals.errors) {%>
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>

  <form action="/<%= routePrefix %>/<%= title.startsWith('Add') ? 'new' : `${locals.data.id}/edit` %>" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= locals.data?.name %>">
    </div>

    <% if (ROUTE_NAME === "Magazine") {%>
      <div class="form-group">
        <label for="demographic">Demographic</label>
        <select name="demographic_id" id="demographic">
          <% demographics.forEach(demographic => { %>
            <option value="<%= demographic.id %>" <%= locals.data?.demographic_id === demographic.id ? "selected" : undefined %>><%= demographic.name %></option>
          <% }); %>
        </select>
      </div>
    <% } %>    

    <button type="submit"><%= title %></button>
    <a href="/<%= routePrefix %>">Cancel</a>
  </form>
</body>
</html>