<% 
  const title = `${locals.data?.id ? "Edit" : "Add"} ${ROUTE_NAME}`;
  const routePrefix = (ROUTE_NAME.endsWith('s') ? ROUTE_NAME : ROUTE_NAME.concat('s')).toLowerCase();
%> 

<%- include("partials/header", { title: `${title} - Yomu`, ROUTE_NAME, heading: title }) %>
  <% if (locals.errors) {%>
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>

  <form action="/<%= routePrefix %>/<%= title.startsWith('Add') ? 'new' : `${locals.data.id}/edit` %>" method="post">
    <% if (ROUTE_NAME === "Manga") { %>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= locals.data?.title %>">
      </div>
    <% } else { %>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= locals.data?.name %>">
      </div>
    <% } %>

    <% if (ROUTE_NAME === "Magazine") {%>
      <div class="form-group">
        <label for="demographic">Demographic</label>
        <select name="demographic_id" id="demographic">
          <% demographics.forEach(demographic => { %>
            <option value="<%= demographic.id %>" <%= locals.data?.demographic_id === demographic.id ? "selected" : undefined %>><%= demographic.name %></option>
          <% }); %>
        </select>
      </div>
    <% } %>

    <% if (ROUTE_NAME === "Manga") {%>
      <fieldset class="form-group">
        <legend>Authors</legend>
        <% authors.forEach(author => { %>
          <input type="checkbox" class="author" name="authors[<%= author.id %>][id]" id="author-<%= author.id %>" value="<%= author.id %>" <%= locals.data?.authors?.find(selected => selected.id === author.id) ? "checked" : undefined %>>
          <label for="author-<%= author.id %>"><%= author.name %></label>
        <% }); %>
      </fieldset>

      <fieldset id="author-roles">
        <legend>Author Roles</legend>

        <% authors.forEach(author => { %>
          <% if (locals.data?.authors?.find(selected => selected.id === author.id)) { %> 
            <div class="form-group">
              <label for="author-<%= author.id %>-role"><%= author.name %>'s Role</label>
              <select name="authors[<%= author.id %>][role]" id="author-<%= author.id %>-role">
                <% roles.forEach(role => { %>
                  <option value="<%= role.id %>" <%= locals.data?.authors?.find(selected => selected.id === author.id && selected.role === role.id) ? "selected" : undefined %>><%= role.name %></option>
                <% }); %>
              </select>
            </div>
          <% } %>
        <% }); %>
      </fieldset>

      <fieldset class="form-group">
        <legend>Genre</legend>
        <% genres.forEach(genre => { %>
          <input type="checkbox" name="genres[<%= genre.id %>][id]" id="genre-<%= genre.id %>" value="<%= genre.id %>" <%= locals.data?.genres?.find(selected => selected.id === genre.id) ? "checked" : undefined %>>
          <label for="genre-<%= genre.id %>"><%= genre.name %></label>
        <% }); %>
      </fieldset>

      <div class="form-group">
        <label for="magazine">Magazine</label>
        <select name="magazine" id="magazine">
          <% magazines.forEach(magazine => { %>
            <option value="<%= magazine.id %>" <%= locals.data?.magazine === magazine.id ? "selected" : undefined %>><%= magazine.name %></option>
          <% }); %>
        </select>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select name="status" id="status">
          <% status.forEach(state => { %>
            <option value="<%= state.id %>" <%= locals.data?.status === state.id ? "selected" : undefined %>><%= state.name %></option>
          <% }); %>
        </select>
      </div>

      <div class="form-group">
        <label for="start-date">Start Date</label>
        <input type="date" name="start_date" id="start-date" value="<%= locals.data?.start_date ? new Date(locals.data.start_date).toISOString().split('T')[0] : undefined %>">
      </div>

      <div class="form-group">
        <label for="end-date">End Date</label>
        <input type="date" name="end_date" id="end-date" value="<%= locals.data?.end_date ? new Date(locals.data.end_date).toISOString().split('T')[0] : undefined %>">
      </div>

      <div class="form-group">
        <label for="volumes">Volumes</label>
        <input type="number" name="volumes" id="volumes" value="<%= locals.data?.volumes %>">
      </div>

      <div class="form-group">
        <label for="chapters">Chapters</label>
        <input type="number" name="chapters" id="chapters" value="<%= locals.data?.chapters %>">
      </div>

      <template>
        <div class="form-group">
          <label></label>
          <select name="roles">
            <% roles.forEach(role => { %>
            <option value="<%= role.id %>"><%= role.name %></option>
            <% }); %>
          </select>
        </div>
      </template>
    <% } %>

    <button type="submit"><%= title %></button>
    <a href="/<%= routePrefix %>">Cancel</a>
  </form>
<%- include("partials/footer") %>