<% const routePrefix = (ROUTE_NAME.endsWith('s') ? ROUTE_NAME : ROUTE_NAME.concat('s')).toLowerCase(); %> 

<%- include("partials/header", { title: `${ROUTE_NAME} - Yomu`, heading: ROUTE_NAME }) %>
  <a href="/<%= routePrefix %>/new">Add <%= ROUTE_NAME %></a>
  <ul>
    <% data.forEach(item => { %>
      <li>
        <a href="/<%= routePrefix %>/<%= item.id %>"><%= item.name || item.title %></a>
        <a href="/<%= routePrefix %>/<%= item.id %>/edit/">Edit</a>
        <form action="/<%= routePrefix %>/<%= item.id %>/delete/" method="post">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
<%- include("partials/footer") %>