<% 
  const navLinks = [
    { href: "/", text: "Home" },
    { href: "/mangas", text: "Mangas" },
    { href: "/authors", text: "Authors" },
    { href: "/genres", text: "Genres" },
    { href: "/demographics", text: "Demographics" },
    { href: "/magazines", text: "Magazines" },
    { href: "/status", text: "Status" },
    { href: "/roles", text: "Roles" },
  ]

  const routeText = locals.ROUTE_NAME?.endsWith('s') ? locals.ROUTE_NAME : locals.ROUTE_NAME?.concat('s')
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/globals.css">
  <% if (locals.style) { %>
    <link rel="stylesheet" href="/styles/<%= style %>">
  <% } %>
  <% if (locals.ROUTE_NAME === "Manga") { %>
    <script type="module" src="/scripts/form.js"></script>
  <% } %>
</head>
<body>
  <header>
    <div>
      <div class="brand">Yomu</div>
    </div>
    <nav>
      <ul class="nav-list">
       <% navLinks.forEach(link => { %>
          <li><a href="<%= link.href %>" class="nav-link<%= (link.href === "/" && !routeText) || (link.text === routeText) ? " current" : undefined  %>"><%= link.text %></a></li>
       <% }); %>
      </ul>
    </nav>
  </header>
  <main>
    <% if (locals.action) { %>
      <div class="action-heading">
        <h1><%= heading %></h1>
        <a href="<%= action.link %>" class="btn info"><%= action.name %></a>
      </div>
    <% } else if (locals.error) { %> 
      <div class="error">
        <h1><%= error %></h1>
        <h2><%= message %></h2>
      </div>
    <% } else { %> 
      <h1><%= heading %></h1>
    <% } %>
